<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xxpay.dal.dao.mapper.MchNotifyMapper" >
  <resultMap id="BaseResultMap" type="org.xxpay.dal.dao.model.MchNotify" >
    <id column="OrderId" property="orderId" jdbcType="VARCHAR" />
    <result column="MchId" property="mchId" jdbcType="VARCHAR" />
    <result column="MchOrderNo" property="mchOrderNo" jdbcType="VARCHAR" />
    <result column="OrderType" property="orderType" jdbcType="VARCHAR" />
    <result column="NotifyUrl" property="notifyUrl" jdbcType="VARCHAR" />
    <result column="NotifyCount" property="notifyCount" jdbcType="TINYINT" />
    <result column="Result" property="result" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="TINYINT" />
    <result column="LastNotifyTime" property="lastNotifyTime" jdbcType="TIMESTAMP" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    OrderId, MchId, MchOrderNo, OrderType, NotifyUrl, NotifyCount, Result, Status, LastNotifyTime, 
    CreateTime, UpdateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.xxpay.dal.dao.model.MchNotifyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_mch_notify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_mch_notify
    where OrderId = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_mch_notify
    where OrderId = #{orderId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.xxpay.dal.dao.model.MchNotifyExample" >
    delete from t_mch_notify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.xxpay.dal.dao.model.MchNotify" >
    insert into t_mch_notify (OrderId, MchId, MchOrderNo, 
      OrderType, NotifyUrl, NotifyCount, 
      Result, Status, LastNotifyTime, 
      CreateTime, UpdateTime)
    values (#{orderId,jdbcType=VARCHAR}, #{mchId,jdbcType=VARCHAR}, #{mchOrderNo,jdbcType=VARCHAR}, 
      #{orderType,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR}, #{notifyCount,jdbcType=TINYINT}, 
      #{result,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{lastNotifyTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.xxpay.dal.dao.model.MchNotify" >
    insert into t_mch_notify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        OrderId,
      </if>
      <if test="mchId != null" >
        MchId,
      </if>
      <if test="mchOrderNo != null" >
        MchOrderNo,
      </if>
      <if test="orderType != null" >
        OrderType,
      </if>
      <if test="notifyUrl != null" >
        NotifyUrl,
      </if>
      <if test="notifyCount != null" >
        NotifyCount,
      </if>
      <if test="result != null" >
        Result,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="lastNotifyTime != null" >
        LastNotifyTime,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null" >
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="mchOrderNo != null" >
        #{mchOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyCount != null" >
        #{notifyCount,jdbcType=TINYINT},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="lastNotifyTime != null" >
        #{lastNotifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.xxpay.dal.dao.model.MchNotifyExample" resultType="java.lang.Integer" >
    select count(*) from t_mch_notify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_mch_notify
    <set >
      <if test="record.orderId != null" >
        OrderId = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.mchId != null" >
        MchId = #{record.mchId,jdbcType=VARCHAR},
      </if>
      <if test="record.mchOrderNo != null" >
        MchOrderNo = #{record.mchOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderType != null" >
        OrderType = #{record.orderType,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyUrl != null" >
        NotifyUrl = #{record.notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyCount != null" >
        NotifyCount = #{record.notifyCount,jdbcType=TINYINT},
      </if>
      <if test="record.result != null" >
        Result = #{record.result,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        Status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.lastNotifyTime != null" >
        LastNotifyTime = #{record.lastNotifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        CreateTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UpdateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_mch_notify
    set OrderId = #{record.orderId,jdbcType=VARCHAR},
      MchId = #{record.mchId,jdbcType=VARCHAR},
      MchOrderNo = #{record.mchOrderNo,jdbcType=VARCHAR},
      OrderType = #{record.orderType,jdbcType=VARCHAR},
      NotifyUrl = #{record.notifyUrl,jdbcType=VARCHAR},
      NotifyCount = #{record.notifyCount,jdbcType=TINYINT},
      Result = #{record.result,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=TINYINT},
      LastNotifyTime = #{record.lastNotifyTime,jdbcType=TIMESTAMP},
      CreateTime = #{record.createTime,jdbcType=TIMESTAMP},
      UpdateTime = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.xxpay.dal.dao.model.MchNotify" >
    update t_mch_notify
    <set >
      <if test="mchId != null" >
        MchId = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="mchOrderNo != null" >
        MchOrderNo = #{mchOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        OrderType = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        NotifyUrl = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyCount != null" >
        NotifyCount = #{notifyCount,jdbcType=TINYINT},
      </if>
      <if test="result != null" >
        Result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=TINYINT},
      </if>
      <if test="lastNotifyTime != null" >
        LastNotifyTime = #{lastNotifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OrderId = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.xxpay.dal.dao.model.MchNotify" >
    update t_mch_notify
    set MchId = #{mchId,jdbcType=VARCHAR},
      MchOrderNo = #{mchOrderNo,jdbcType=VARCHAR},
      OrderType = #{orderType,jdbcType=VARCHAR},
      NotifyUrl = #{notifyUrl,jdbcType=VARCHAR},
      NotifyCount = #{notifyCount,jdbcType=TINYINT},
      Result = #{result,jdbcType=VARCHAR},
      Status = #{status,jdbcType=TINYINT},
      LastNotifyTime = #{lastNotifyTime,jdbcType=TIMESTAMP},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      UpdateTime = #{updateTime,jdbcType=TIMESTAMP}
    where OrderId = #{orderId,jdbcType=VARCHAR}
  </update>

  <!-- 单独增加的方法 -->
  <insert id="insertSelectiveOnDuplicateKeyUpdate" parameterType="org.xxpay.dal.dao.model.MchNotify" >
    insert into t_mch_notify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        OrderId,
      </if>
      <if test="mchId != null" >
        MchId,
      </if>
      <if test="mchOrderNo != null" >
        MchOrderNo,
      </if>
      <if test="orderType != null" >
        OrderType,
      </if>
      <if test="notifyUrl != null" >
        NotifyUrl,
      </if>
      <if test="notifyCount != null" >
        NotifyCount,
      </if>
      <if test="result != null" >
        Result,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="lastNotifyTime != null" >
        LastNotifyTime,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null" >
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="mchOrderNo != null" >
        #{mchOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyCount != null" >
        #{notifyCount,jdbcType=TINYINT},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="lastNotifyTime != null" >
        #{lastNotifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
     ON DUPLICATE KEY UPDATE OrderId = #{orderId,jdbcType=VARCHAR}
  </insert>
</mapper>