<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeequan.jeepay.service.mapper.MchInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jeequan.jeepay.core.entity.MchInfo">
        <id column="mch_no" property="mchNo" />
        <result column="mch_name" property="mchName" />
        <result column="mch_short_name" property="mchShortName" />
        <result column="type" property="type" />
        <result column="isv_no" property="isvNo" />
        <result column="contact_name" property="contactName" />
        <result column="contact_tel" property="contactTel" />
        <result column="contact_email" property="contactEmail" />
        <result column="state" property="state" />
        <result column="remark" property="remark" />
        <result column="init_user_id" property="initUserId" />
        <result column="created_uid" property="createdUid" />
        <result column="created_by" property="createdBy" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
